# Postgres cluster liveroom-db created
#   Username:    postgres
#   Password:    MzBr1LKz5yYOY0M
#   Hostname:    liveroom-db.internal
#   Flycast:     fdaa:1:c8bd:0:1::2
#   Proxy port:  5432
#   Postgres port:  5433
#   Connection string: postgres://postgres:MzBr1LKz5yYOY0M@liveroom-db.flycast:5432

# Save your credentials in a secure place -- you won't be able to see them again!
