<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "DemoClientEmbedPhoenixApp" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/liveroom.js"}>
    </script>
  </head>

  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
  <!-- Liveroom iframe -->
  <%!-- src="https://liveroom.app/session/example_app_phoenix/client_embed" --%>
  <%!-- <iframe
    src="http://localhost:4000/session/abc/client_embed"
    allow="camera; microphone; display-capture"
    style="pointer-events: none;"
    class="fixed inset-0 h-screen w-screen border-none m-0 p-0 overflow-hidden"
  >
    Your browser doesn't support iframes
  </iframe> --%>
</html>
