<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "DemoClientEmbedPhoenixApp" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
  <!-- Liveroom iframe -->
  <iframe
    src="https://liveroom.app/session/example_app_phoenix/client_embed"
    class="fixed inset-0 border-none m-0 p-0 overflow-hidden z-[999999]"
  >
    Your browser doesn't support iframes
  </iframe>
</html>
